{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="box">

    <h2 class="title is-4">Contact</h2>

        <div class="box">
            ...<br>
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <a href="mailto:...">...</a>
        </div>

        <div class="box">
            ...<br>
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            <a href="mailto:...">...</a>
        </div>

</div>


{% endblock %}